[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
numpy = "*"
matplotlib = "*"
torch = "==2.0.1"
tqdm = "*"
torchvision = "==0.15.2"
torchaudio = "==2.0.2"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
